:root {
  --game-blue: #47ff0f;
  --game-blue-light: #47ff0f;
  --dark: #30363a;
}

.bible{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  margin: 100px;
  border: 2px solid white;
  border-radius: 10px;
  height: 300px;
  width: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  display: flex;
}

.play {
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px #4e4e4e;
  transition: 0.3s;
}

.play:hover {
  background-color: rgb(63, 63, 63);
  color: rgb(150, 147, 147);
  box-shadow: 0 0 5px #484947;
  transform: scale(1.1);
}

.game-result {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Georgia, serif;
  text-align: center;
}